$yellow: #ffbb33;
$yellow-dark:darken($yellow, 10%);
$black: #222;
$black-darken: darken($black, 10%);
$white: #fff;
$gray: #ccc;
$gray-dark : #666666;
$green: green;
$wine: #7b0000;
$red-cancel: #ff0000;