@import '@/assets/scss/main';
.content-nav{
  display: flex;
  height: 70px;
  background-color: $wine;
  margin: 0;
  padding: 0 15px;
  align-items: center;
  .menu-bar{
    visibility: hidden;
    @media (max-width: 768px) {
      visibility: visible;
      &:hover{
        cursor: pointer;
        color: $yellow-dark;
      }
    }
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: $white;
    height: 70px;
    .logo {
      display: flex;
      align-items: center;
      h3{
        padding-left: 7px;
        font-family: 'Merienda' , cursive;
      }
      img{

        &:hover{
          cursor: pointer;
        }
      }


      @media (max-width: 768px) {
        h3{
          font-size: 15px;
        }
        img{
          width: 24px;
          height: 24px;
        }
      }
    }
  
    .logout {
      text-decoration: none;
      color: $white;
      padding: 15px;

      &:hover{
        cursor: pointer;
        color: $yellow-dark;
      }

      @media (max-width: 768px) {
        span{
          visibility: hidden;
          width: 0px;
          display: none;
        }
      }
    }

  }
}