@import '@/assets/scss/main';
.content-nav{
  display: flex;
  height: 70px;
  background-color: $wine;
  margin: 0;
  padding: 0 15px;
  align-items: center;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: $white;
    height: 70px;
    .logo {
      display: flex;
      align-items: center;
      h3{
        padding-left: 7px;
      }
      img{

        &:hover{
          cursor: pointer;
        }
      }
    }
  
    .logout {
      text-decoration: none;
      color: $white;
      padding: 15px;

      &:hover{
        cursor: pointer;
        color: $yellow-dark;
      }
    }

  }
}