@import '@/assets/scss/main';

.item {
    padding-left: 15px;
    padding-bottom: 5px;
    display: flex;
    text-decoration: none;
    color: $white;

    .text {
        padding-left: 20px;
    }

    a {
        text-decoration: none;
        color: $white;
        transition: color 0.5s, font-weight 0.5s;

        &:hover {
            color: $yellow;
            font-weight: bold;

            i {
                color: $yellow;
            }
        }
    }
}

.item.active {
    a {
        color: $yellow-dark;
        font-weight: bold;
        i {
            font-weight: bold;
            color: $yellow-dark;
        }
    }
}
